.movies h2 {
  color: white;
  margin: 3rem auto 1rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
}
.movies div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 10px 10px 15px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
li {
  margin: 10px auto;
  padding: 10px auto;
}
