.movie {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  padding-bottom: 20px;
}

.movie .div1 {
  width: 100%;
  height: 350px;
}

.movie .div1 img {
  width: 100%;
  height: 100%;
}
.movie .div2 {
  width: 100%;
  padding: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.movie .div2 h2 {
  text-align: center;
  font-size: 21px;
  margin: 0;
}
h4 {
  font-size: 17px;
  margin: 0;
}

button {
  width: 125px;
  height: 50px;
  border-radius: 20px;
  padding: 10px auto;
  color: white;
  background: green;
  font-size: 17px;
  border: 1px solid forestgreen;
  font-size: monospace;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (max-width: 500px) {
  .movie {
    width: 350px;
  }
}
